<template>
  <v-item-group>
    <v-container>
      <v-row>
        <v-col v-for="n in 3" :key="n" cols="12" md="4">
          <v-item v-slot:default="{ active, toggle }">
            <v-card
              :color="active ? 'primary' : ''"
              class="d-flex align-center"
              dark
              height="200"
              width="280"
              @click="toggle"
            >
              <v-fade-transition mode="out-in">
                <div
                  v-if="!active"
                  class="display-1 flex-grow-1 text-center"
                  v-text="texts[n - 1]"
                />
                <img
                  v-else
                  width="280"
                  height="200"
                  :src="require(`~/assets/images/benefit-${n}.png`)"
                />
              </v-fade-transition>
            </v-card>
          </v-item>
        </v-col>
      </v-row>
    </v-container>
  </v-item-group>
</template>

<script>
export default {
  data() {
    return {
      texts: ['Качество', 'Свежесть', 'Доступность']
    }
  }
}
</script>
