<template>
  <v-item-group>
    <v-container>
      <v-row>
        <v-col v-for="n in 6" :key="n" cols="12" md="2">
          <v-item v-slot:default="{ active, toggle }">
            <v-card
              :color="active ? 'primary' : ''"
              class="d-flex align-center"
              dark
              height="100"
              width="100"
              @click="toggle"
            >
              <v-scroll-y-transition>
                <img
                  width="100"
                  height="100"
                  :src="require(`~/assets/images/client-${1 + (n % 2)}.png`)"
                />
              </v-scroll-y-transition>
            </v-card>
          </v-item>
        </v-col>
      </v-row>
    </v-container>
  </v-item-group>
</template>

<script>
export default {
  data() {
    return {
      texts: ['Качество', 'Свежесть', 'Доступность']
    }
  }
}
</script>
