<template>
  <div class="top-banner">
    <a id="top-phone" href="tel:+73433112051">+7 (343) 311‒20‒51</a>
    <h1>Овощебаза №4</h1>
  </div>
</template>

<script>
export default {
  name: 'top-banner'
}
</script>

<style scoped>
.top-banner {
  height: 350px;
  width: 100vw;
  background: url(~assets/images/vegetables.jpg);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-phone {
  position: absolute;
  right: 24px;
  top: 24px;

  font-size: 24px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  background: rgba(170, 120, 0, 0.5);
  padding: 8px;
}

.top-banner h1 {
  color: white;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.3);
  padding: 24px;
}
</style>
