<template>
  <v-app light>
    <top-banner />
    <v-app-bar color="amber">
      <v-spacer />
      <v-btn v-for="item in navitems" :key="item.to" :to="item.to" text>
        {{ item.title }}
      </v-btn>
      <v-spacer />
    </v-app-bar>
    <v-content>
      <nuxt />
    </v-content>
    <v-footer :fixed="fixed" color="amber">
      <v-container>
        <v-row justify="center" align="center">
          <v-btn icon>
            <v-icon>mdi-facebook</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-instagram</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-vk</v-icon>
          </v-btn>
        </v-row>
        <v-row justify="center" align="center">
          <div>
            Овощебаза №4, Завокзальная, 26/1, Завокзальный, Железнодорожный
            район, Екатеринбург, Ежедневно 06:00–18:00
          </div>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import TopBanner from '@/components/TopBanner'

export default {
  components: { TopBanner },

  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      navitems: [
        {
          title: 'Главная',
          to: '/'
        },
        {
          title: 'Услуги',
          to: '/services'
        },
        {
          title: 'Контакты',
          to: '/contacts'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  }
}
</script>
