<template>
  <iframe
    src="https://yandex.ru/map-widget/v1/-/CGcvu8kf"
    class="contacts-map"
    width="100%"
    height="550"
    frameborder="0"
    allowfullscreen="true"
  ></iframe>
</template>

<style scoped>
.contacts-map {
  width: 100vw;
}
</style>
