<template>
  <v-container>
    <v-layout column justify-center align-center>
      <h1 class="main-title">Овощи и фрукты оптом и в розницу</h1>
      <h3 class="subtitle">
        Продажа овощей и фруктов оптом с доставкой! Он-лайн заказ прямо на этом
        сайте!
      </h3>

      <br />
      <br />
      <br />

      <h2>Нас любят</h2>

      <benefits />

      <h2>Нам доверяют</h2>

      <clients />
    </v-layout>
  </v-container>
</template>

<script>
import Clients from '@/components/Clients'
import Benefits from '@/components/Benefits'

export default {
  components: { Benefits, Clients }
}
</script>

<style scoped>
.main-title {
  font-weight: normal;
  padding: 32px;
}
.subtitle {
  font-weight: normal;
  padding: 8px;
}
</style>
