<template>
  <v-container class="text">
    <h1>Услуги</h1>
    <p>
      Компания «Уральские ресурсы» - крупная овощебаза в Екатеринбурге, мы
      предлагаем купить оптом свежие овощи и фрукты крупными партиями.
      Производственная база организации располагается в Свердловской области, в
      селе Бруснятское Белоярского района. Мы поставляем высококачественную
      овощную продукцию крупными оптовыми партиями, она соответствует всем
      требованиям экологичности.
    </p>

    <h3>Хранение и обработка продукции на овощебазе</h3>
    <p>
      Овощная база в Екатеринбурге оснащена по последнему слову техники. Она
      представляет собой современный логистический комплекс, рассчитанный на
      хранение 4500т овощной продукции. Также мы располагаем собственным цехом
      предпродажной подготовки – проводится комплексная обработка овощей для
      придания товарного вида и удобства продажи.
    </p>

    <h3>Условия сотрудничества</h3>
    <p>
      Цены на овощебазе доступны широкому кругу покупателей. При продаже
      крупными партиями оптом предоставляются значительные скидки, заранее
      ознакомьтесь с нашим прайсом по каталогу. Стоимость зависит от способа
      фасовки и используемой упаковки в любом случае мы предлагаем выгодное
      сотрудничество.
    </p>
    <p>
      Отзывы покупателей подтверждают: компания «Уральские ресурсы» станет
      надежным партнером для постоянного сотрудничества. Закажите доставку любой
      партии овощной продукции по выгодным ценам, для уточнения условий продажи
      позвоните по указанному телефону. Свяжитесь с нами уже сейчас!
    </p>
    <p>
      Потребность современного рынка в свежих овощах и фруктах с каждым днем
      неизменно растет. Поэтому правильное хранение овощей и поддержание
      качества собранного урожая, а также доставка его до потребителя в отличном
      состоянии – важная и актуальная задача!
    </p>
    <p>
      Наша команда готова решать такие задачи и открыта к диалогу с участниками
      рынка!
    </p>
  </v-container>
</template>

<style scoped>
.text {
  padding-top: 48px;
  padding-bottom: 32px;
  max-width: 800px;
  line-height: 1.7em;
  font-size: 16px;
}
.text h1,
.text h3 {
  font-weight: normal;
  padding-bottom: 16px;
  padding-top: 32px;
}
</style>
